:root {
    --background:#070008;
    --text:#F2F2F2;
    --fig-bg:#2E0259;
    --border:#590202;
    --link:#F99090;
    --link-visit:#75B2CC;
    --link-hover:#B5B5B5;
    --citation:#E3E3E3;

}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Space Mono', monospace;
}

figcaption {
    font-size: 16px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

header, footer {
    text-align: center;
}

div#gallery {
    width: 90%;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

figure {
    background-color: var(--fig-bg);
    width: 300px;
    padding: 15px;
    margin: 20px 20px;
    border: var(--border);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}

cite {
    font-size: 14px;
    color: var(--citation);
}

figure img {
    width: 100%;
}

a {
    color: var(--link);
}

a:hover, a:visited:hover {
    color: var(--link-hover);
}

a:visited {
    color: var(--link-visit);
}